{% extends 'article/article_form.html.twig' %}

    {% block article_head %}
    <h1 class="h3 pb-3 text-center">Article Tableau {{ article.championship }}</h1>
    <h3 class="h1 pb-5 text-center">J{{ article.day }}</h3>
    {% endblock %}



{% block secondary_content %}
<div class="form-group">
    {{ form_label(form.introduction, 'Description') }}
    {{ form_widget(form.introduction, {'attr': {'class': 'form-control'}}) }}
</div>

    {{ form_end(form) }}

{% endblock %}