<?xml version="1.0" encoding="UTF-8" ?>
<rss>

    <title>FootballKO</title>
    <atom:link href="https://footballko.com/feed/" rel="self" type="application/rss+xml" />
    <link>https://footballko.com</link>
    <description>FootballKO recense les joueurs absents dans quatre grands championnats d'Europe, Ligue 1, Premier League, Liga et Premier League.</description>
    <language>fr-FR</language>


    {% for article in mercato_articles %}

        <item>
            <title>{{ article.title }}</title>
            <url>https://footballko.com/article/{{ article.getSlug() }}</url>
            <publication_date>{{ article.publishedAt|date }}</publication_date>
            <image_url>https://footballko.com/uploads/{{ article.media.filename }}</image_url>
            <category>mercato</category>
            <description>{{ article.introduction }}</description>
        </item>
    {% endfor %}

    {% for article in injury_articles %}
        <item>
            <title>{{ article.title }}</title>
            <url>https://footballko.com/injury/article/{{ article.getChampionship().getSlug() }}/J{{ article.day }}</url>
            <publication_date>{{ article.publishedAt|date }}</publication_date>
            <image_url>https://footballko.com/uploads/{{ article.media.filename }}</image_url>
            <category>tableaux</category>
            <description>{{ article.introduction }}</description>
        </item>
    {% endfor %}

    {% for article in last_articles %}

    <item>
        <title>{{ article.title }}</title>
        <url>https://footballko.com/article/{{ article.getSlug() }}</url>
        <publication_date>{{ article.publishedAt|date }}</publication_date>
        <image_url>https://footballko.com/uploads/{{ article.media.filename }}</image_url>
        <category>{{ article.category }}</category>
        <description>{{ article.introduction }}</description>
    </item>
    {% endfor %}
</rss>