{% block seo %}
    <title>{{ article.title }}</title>
    <meta name="description" content="{{ article.introduction }}" />
    <meta name="keywords" content="{{ article.getKeywords() }}" />
    <meta name="og:title" content="{{ article.title }}" />
    <meta name="og:description" content="{{ article.introduction }}" />
    <meta name="og:image" content="{{ article.image.fileName }}" />
    <meta name="og:type" content="article" />
    <meta name="twitter:title" content="{{ article.tile }}" />
    <meta name="twitter:description" content="{{ article.introduction }}" />
    <meta name="twitter:image" content="{{ article.media.fileName }}" />
    <meta name="twitter:card" content="summary" />
    {# <meta name="twitter:site" content="" /> #}
{% endblock %}